.Resize-half-horizontal {
    background-color: #222;
    height: 50vh;
    color: blue;
}
.Resize-full-horizontal {
    background-color: cornflowerblue;
    height: 100vh;
    color: black;
}
Resize-vertical {
    display: inline-block
}
#2.Resize-vertical {
    display: inline-block
}