.Resize-half-horizontal {
    height: 50vh;
}

.Resize-full-horizontal {
    height: 100vh;
}

.Resize-vertical {
    display: inline-block;
    max-width: 300px;
}

.Resize-half-vertical {
    display: inline-block;
    width: 50vw;
}

.Resize-full-vertical {
    position: absolute;    
    display: inline-block;
    width: 100vw;
}
