.Resize-half-horizontal {
    height: 50vh;
}

.Resize-full-horizontal {
    height: 100vh;
}

.Resize-vertical {
    display: inline-block;
    min-height: 50vh;
}

.Resize-half-vertical {
    display: inline-block;
    width: 50vw;
    min-height: 50vh
    
}

.Resize-full-vertical {
    position: absolute;    
    display: inline-block;
    width: 100vw;
    min-height: 50vh;    
}
